{% extends 'main.html' %}
{% load static %}
{% block content %}
       <!-- plant -->
      <div id="plant" class="section  product ">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="titlepage">
                     <h2><strong class="black"> Our</strong>  Products</h2>
                     <span>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected randomised words which don't look even slightly believable</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="clothes_main section  featured spad ">
         <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".earring">Earrings</li>
                            <li data-filter=".keychain">Key Chains</li>
                            <li data-filter=".necklacse">Necklacses</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
               {% for product in products %}  
               
                  <div id="items" class="col-xl-4 col-lg-4 col-md-6 col-sm-12 {{ product.categorie }} ">
                     <div class="sport_product featured__item">
                        <figure><img src="{{ product.imageURL }}" alt="img"/></figure>
                       <h3> $<strong class="price_text">{{ product.price|floatformat:2 }}</strong></h3>
                        <h4>{{ product.name }}</h4>
                        <button class="btn btn-md btn-primary update-cart " data-product = {{product.id}} data-action = "add"> Add To Cart </button>
                     </div>
                  </div>
               {% endfor %}
               
            </div>
         </div>
      </div>
      
      <!-- end plant -->

{% endblock content %}

 <!--<section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".soft-drinks">Soft Drinks</li>
                            <li data-filter=".dairy">Dairy Products</li>
                            <li data-filter=".pastas">Pastas</li>
                            <li data-filter=".chocolate">Chocolate</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                <div class="col-lg-3 col-md-4 col-sm-6 mix soft-drinks">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="img/featured/cocaa.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">CocaCola</a></h6>
                            <h5>50 SDG </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix soft-drinks">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="img/featured/pipse.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Pepsi</a></h6>
                            <h5>100 SDG </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix soft-drinks">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="img/featured/sprite.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">sprite</a></h6>
                            <h5>100 SDG</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix dairy">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="img/featured/milk.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Milk Bottle</a></h6>
                            <h5>100 SDG</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix dairy">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="img/featured/chessee.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#"> American cheese Kraft </a></h6>
                            <h5>300 SDG</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix pastas">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="img/featured/pasta1.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">1k of pasta</a></h6>
                            <h5>100 SDG</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix pastas">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="img/featured/pasta3.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">3k of pasta</a></h6>
                            <h5>300 SDG</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix chocolate">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="img/featured/kitkat.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">KitKat</a></h6>
                            <h5>250 SDG</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->