{% extends 'main.html' %}
{% load static %}
{% block content %}
       <!-- plant -->
      <div id="plant" class="section  product ">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="titlepage">
                     <h2><strong class="black"> Our</strong>  Products</h2>
                     <span>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected randomised words which don't look even slightly believable</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="clothes_main section  featured spad ">
         <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".earring">Earrings</li>
                            <li data-filter=".keychain">Key Chains</li>
                            <li data-filter=".necklacse">Necklacses</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
            
               {% for product in products %}  
               
                  <div id="items" class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mix {{ product.categorie }} ">
                     <div class="sport_product featured__item">
                        <figure><img src="{{ product.imageURL }}" alt="img"/></figure>
                       <h3> $<strong class="price_text">{{ product.price|floatformat:2 }}</strong></h3>
                        <h4>{{ product.name }}</h4>
                        <button class="btn btn-md btn-primary update-cart " data-product = {{product.id}} data-action = "add"> Add To Cart </button>
                     </div>
                  </div>
               {% endfor %}
               
            </div>
         </div>
      </div>
      
      <!-- end plant -->

{% endblock content %}

